# Анализ пользовательского взаимодействия с карточками статей в Яндекс.Дзен

Выгрузка данных из таблицы **dash_visits** в файл **dash_visits.csv**:

In [55]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student',                                  # имя пользователя
             'pwd': 'Sdf4$2;d-d30pp',                                      # пароль
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,                                                 # порт подключения
             'db': 'data-analyst-zen-project-db'}                          # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

In [51]:
# создаём sql запрос
dash_visits = pd.io.sql.read_sql('''
                                    SELECT *
                                    FROM dash_visits
                                 ''',
                                 con = engine)

In [50]:
# преобразуем в csv
dash_visits.to_csv('dash_visits.csv', index=False)

In [49]:
# посмотрим основную информацию
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

In [48]:
# посмотрим нет ли явных дубликатов
dash_visits.duplicated().sum()

0

In [47]:
# узнаем за какой период получены данные
print(dash_visits['dt'].min(), '-', dash_visits['dt'].max())

2019-09-24 18:28:00 - 2019-09-24 19:00:00

In [54]:
# посмотрим саму таблицу
dash_visits

,record_id,item_topic,source_topic,age_segment,dt,visits
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27
...,...,...,...,...,...,...
30740,1071337,Юмор,Финансы,36-40,2019-09-24 18:57:00,2
30741,1071338,Юмор,Финансы,36-40,2019-09-24 19:00:00,1
30742,1071339,Юмор,Финансы,41-45,2019-09-24 18:54:00,1
30743,1071340,Юмор,Финансы,41-45,2019-09-24 18:56:00,1
30744,1071341,Юмор,Финансы,41-45,2019-09-24 19:00:00,1

## Дашборд
https://public.tableau.com/app/profile/.68045853/viz/__16855443162750/sheet4?publish=yes

## Презентация
https://disk.yandex.ru/i/HG8OHdq_0bqkuQ

## Исправления:

**Дашборд:**

- По поводу стиля во всплывающих подсказках, сам стиль немного поправила, где не так, а так всё вроде на русском изначально прописывала, то что не на русском изменить нельзя, а может я чего-то не понимаю(.
- поправила фильтр так, чтобы применялся ко всем графикам, действительно, так удобно и классно)
- по поводу графика «События по темам источников» то, что он обрезан, долго думала над этим, как это исправить и оставила в итоге так, теперь ты подсказал команду и я сразу же быстро сообразила и попраивла, теперь красивее и компактнее выглядит, спасибо))
- поправила фильтры, чтобы был всплывающий список, теперь действительно стало удобно)
- по поводу этого, что нужно в фильтрах добавить выбор нескольких тем и категорий возрастов я не понимаю. Фильтры вроде все есть, в них всё можно выбирать, что нужно и сколько нужно

**Презентация:**

- добавила финальный слайд(«Спасибо за внимание»)
- изменила формат презентации на  **pdf**
- добавила нумерацию слайдов